<article class="am-comment">
    <a href="#link-to-user-home">
        <img src="" alt="" class="am-comment-avatar" width="48" height="48" />
    </a>

    <div class="am-comment-main">
        <header class="am-comment-hd">
            <!--<h3 class="am-comment-title">评论标题</h3>-->
            <div class="am-comment-meta">
                <a href="#link-to-user" class="am-comment-author">{{article.commentator}}</a> 评论于 <time>{{article.time}}</time>
            </div>
        </header>

        <div class="am-comment-bd">
            {{article.comment}}
        </div>
    </div>
</article>